<!doctype html>
<html lang="en-US">
<head>

  <meta charset="utf-8">
  <title>TRAVIS TRAVIS FRAGMENT TEE | TRAVIS TRAVIS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <meta name="description" content="STANDOUT GRAPHIC OF MJ ON THE FRONT, OVERLAPPING CACTUS JACK AND FRAGMENT LOGOS IN A MIXTURE OF PRINTSSHIPS IN 2-3 DAYS">
  <meta name="twitter:title" content="JORDAN X TRAVIS SCOTT X FRAGMENT TEE">
  <meta name="twitter:description" content="STANDOUT GRAPHIC OF MJ ON THE FRONT, OVERLAPPING CACTUS JACK AND FRAGMENT LOGOS IN A MIXTURE OF PRINTSSHIPS IN 2-3 DAYS">
  <meta name="twitter:card" content="product">
  <meta name="twitter:image" content="../../cdn.shopify.com/s/files/1/0068/5015/0457/products/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_grandee5f4.jpg?v=1628802706">
  <meta name="twitter:image:alt" content="JORDAN X TRAVIS SCOTT X FRAGMENT TEE">
  <meta name="twitter:url" content="jordan-x-travis-scott-x-fragment-ss-tee.html">
  <meta property="og:type" content="product">
  <meta property="og:title" content="JORDAN X TRAVIS SCOTT X FRAGMENT TEE">
  <meta property="og:description" content="STANDOUT GRAPHIC OF MJ ON THE FRONT, OVERLAPPING CACTUS JACK AND FRAGMENT LOGOS IN A MIXTURE OF PRINTSSHIPS IN 2-3 DAYS">
  <meta property="og:image" content="../../cdn.shopify.com/s/files/1/0068/5015/0457/products/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_grandee5f4.jpg?v=1628802706">
  <meta property="og:price:amount" content="50">
  <meta property="og:price:currency" content="USD">
  <meta name="twitter:site" content="@trvisXX">
  <meta property="og:site_name" content="TRAVIS SCOTT">
  <meta property="og:url" content="jordan-x-travis-scott-x-fragment-ss-tee.html">
  <link rel="apple-touch-icon" sizes="57x57" href="../Assets/apple-icon-57x5739be.png?v=3379390425994517632">
  <link rel="apple-touch-icon" sizes="60x60" href="../Assets/apple-icon-60x6019d1.png?v=7767540045200874822">
  <link rel="apple-touch-icon" sizes="72x72" href="../Assets/apple-icon-72x72203f.png?v=10311065889238500215">
  <link rel="apple-touch-icon" sizes="76x76" href="../Assets/apple-icon-76x767c9b.png?v=16817737802744084623">
  <link rel="apple-touch-icon" sizes="114x114" href="../Assets/apple-icon-114x1143d75.png?v=18200548120803157398">
  <link rel="apple-touch-icon" sizes="120x120" href="../Assets/apple-icon-120x1206291.png?v=13498461394125657253">
  <link rel="apple-touch-icon" sizes="144x144" href="../Assets/apple-icon-144x144ea57.png?v=6105199869634354362">
  <link rel="apple-touch-icon" sizes="152x152" href="../Assets/apple-icon-152x1526bf5.png?v=8503299270179059925">
  <link rel="apple-touch-icon" sizes="180x180" href="../Assets/apple-icon-180x1808799.png?v=1654743329381614950">
  <link rel="icon" type="image/png" sizes="192x192" href="../Assets/android-icon-192x1928de1.png?v=4675465960329839148">
  <link rel="icon" type="image/png" sizes="32x32" href="../Assets/favicon-32x328b9a.png?v=11993505977033946260">
  <link rel="icon" type="image/png" sizes="96x96" href="../Assets/favicon-96x9614bf.png?v=12435803360369970359">
  <link rel="icon" type="image/png" sizes="16x16" href="../Assets/favicon-16x165d71.png?v=16157078672135185305">
  <link rel="manifest" href="http://cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/manifest.json?v=17015371057635045950">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../../cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/ms-icon-144x144ea57.png?v=6105199869634354362">
  <link href="../Assets/ms-icon-144x144ea57.png?v=6105199869634354362" rel="shortcut icon" sizes="16x16 32x32 64x64">

  <style>
    @font-face {
      font-family: "souvenir";
      src: url("http://cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/souvenir_bold-webfont.eot?v=11445169500303609011");
      src: url("http://cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/souvenir_bold-webfont.woff2?v=9107793052789487010") format("woff2"),
           url("http://cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/souvenir_bold-webfont.woff?v=15485742483293490740") format("woff"),
           url("http://cdn.shopify.com/s/files/1/0068/5015/0457/t/4/assets/souvenir_bold-webfont.ttf?v=16869366487887556414") format("truetype");
           
      font-weight: normal;
      font-style: normal; }
  </style>

  <script>
    var TRAVIS = TRAVIS || {};
  </script>

<link href="/main0e34.css?v=16357540465480959826" rel="stylesheet" type="text/css" media="all" />


<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #shopify-dynamic-checkout-cart {
    min-height: 180px;
  }
}
</style><script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
<link rel="canonical" href="jordan-x-travis-scott-x-fragment-ss-tee.html">
</head>
  <body class="page-jordan-x-travis-scott-x-fragment-tee template-product js-empty-cart "    
    id="page-jordan-x-travis-scott-x-fragment-tee">

    <div class="SkipNavigation">
  <a href="#main" class="SN__link">Skip to main content</a>
</div>

    <nav class="MainNavigation">

  <h2 class="sr-only">Main Navigation</h2>

  

  

<a href="/index1" aria-label="Homepage" class="N__link N__top_center N__person js-toplink">
      <span class="N__person-inner">
        
        
          
          
          <img

                  src="../Assets/roger-roger-logo.png?v=1606759885" style="width: 61px" class="N__custom_logo logo1" alt="CACTUS JACK">
        
      </span>
    </a>
  

  <a href="https://instagram.com" class="N__link N__top_left js-toplink">Social</a>

  <a href="/About" class="N__link N__bottom_left">About</a>
    <a class="N__link N__top_right js-toplink" href="cart.html" data-js-cart-action-open>
      Cart
      <span class="sr-only">:</span>
      <span class="N__cart_count js-cart-count" data-js-cart-count>
        <span class="datacount">0</span>
        <span class="sr-only" data-js-cart-count-label>Items</span>
      </span>
    </a>
  

  <a href="/Contact" class="N__link N__bottom_right">Contact</a>

</nav>

    <div class="Wrap" id="js-wrap">
      
<div class="Header js-header"></div>


      
      <main class="B__container" id="main">
        <h1 class="sr-only">JORDAN X TRAVIS SCOTT X FRAGMENT TEE</h1>
        



    <div id="js-content" class="B__content">
      <div id="P__6732003115135" class="SingleProduct js-product">
        <script type="application/json" class="js-product-json">
  {"id":6732003115135,"title":"JORDAN X TRAVIS SCOTT X FRAGMENT TEE","handle":"jordan-x-travis-scott-x-fragment-ss-tee","vendor":"TRAVIS SCOTT","type":"SHIRT","available":false,"media": [{"alt":null,"id":22066959188095,"position":1,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727.jpg?v=1628802706"},"aspect_ratio":1.0,"height":1500,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727.jpg?v=1628802706","width":1500},{"alt":null,"id":22066959220863,"position":2,"preview_image":{"aspect_ratio":1.0,"height":1500,"width":1500,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e.jpg?v=1628802706"},"aspect_ratio":1.0,"height":1500,"media_type":"image","src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e.jpg?v=1628802706","width":1500}],"images":[{"src":"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727.jpg?v=1628802706","src_880":"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_880x.jpg?v=1628802706","src_zoom" :"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_1600x.jpg?v=1628802706","src_1600" :"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_1600x.jpg?v=1628802706","src_700" :"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_700x.jpg?v=1628802706","width": 1500,"height": 1500,"id": 28216342151295,"alt":"JORDAN X TRAVIS SCOTT X FRAGMENT TEE"},{"src":"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e.jpg?v=1628802706","src_880":"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_880x.jpg?v=1628802706","src_zoom" :"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_1600x.jpg?v=1628802706","src_1600" :"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_1600x.jpg?v=1628802706","src_700" :"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_700x.jpg?v=1628802706","width": 1500,"height": 1500,"id": 28216342184063,"alt":"JORDAN X TRAVIS SCOTT X FRAGMENT TEE"}],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/0068\/5015\/0457\/products\/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727.jpg?v=1628802706","options":["Size"],"tags":["081321","fragments","hide-signup-when-sold-out","hover-show-second-image","image-zoom","one-per","shipping: Ships in 2-3 days"],"price":5000,"variants":[{"id":161803398875,"parent_id":6732003115135,"available":false,"featured_image":null,"public_title":null,"requires_shipping":true,"price":5000,"image_id": null,"options":["XS"],"option1":"xs","option2":"","option3":"","option4":""},{"id":161803398876,"parent_id":6732003115135,"available":false,"featured_image":null,"public_title":null,"requires_shipping":true,"price":5000,"image_id": null,"options":["S"],"option1":"s","option2":"","option3":"","option4":""},{"id":161803398877,"parent_id":6732003115135,"available":false,"featured_image":null,"public_title":null,"requires_shipping":true,"price":5000,"image_id": null,"options":["M"],"option1":"m","option2":"","option3":"","option4":""},{"id":161803398878,"parent_id":6732003115135,"available":false,"featured_image":null,"public_title":null,"requires_shipping":true,"price":5000,"image_id": null,"options":["L"],"option1":"l","option2":"","option3":"","option4":""},{"id":161803398879,"parent_id":6732003115135,"available":false,"featured_image":null,"public_title":null,"requires_shipping":true,"price":5000,"image_id": null,"options":["XL"],"option1":"xl","option2":"","option3":"","option4":""},{"id":161803398880,"parent_id":6732003115135,"available":false,"featured_image":null,"public_title":null,"requires_shipping":true,"price":5000,"image_id": null,"options":["2XL"],"option1":"2xl","option2":"","option3":"","option4":""},{"id":161803398881,"parent_id":6732003115135,"available":false,"featured_image":null,"public_title":null,"requires_shipping":true,"price":5000,"image_id": null,"options":["3XL"],"option1":"3xl","option2":"","option3":"","option4":""}],"meta":[]}
</script>
<div class="container">
  
  <article class="Product P__type-SHIRT P__handle-jordan-x-travis-scott-x-fragment-ss-tee
     P__tag-081321 P__tag-fragments P__tag-hide-signup-when-sold-out P__tag-hover-show-second-image P__tag-image-zoom P__tag-one-per P__tag-shipping-ships-in-2-3-days"
    itemscope itemtype="http://schema.org/Product">
    <input type="hidden" name="id" value="6732003115135">    <div class="P__img_row js-slideshow">
          <div class="js-img-cell js-slide P__img-cell P__img-cell-0"
            style="background-image:url('../products/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_1500xe5f4.jpg?v=1628802706')"
            
            data-alt="JORDAN X TRAVIS SCOTT X FRAGMENT TEE"
            data-image-id="22066959188095"
            data-zoom-src="../products/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_1500xe5f4.jpg?v=1628802706">
            <div class="P__img_bg">
              <img class="P__img js-img js-img-0"
                   height="1500" width="1500"
                   src="../products/DJ0619-133_258114212_D_A_1X1_1af16477-3b3d-48ec-a22b-7527d50e3727_1500xe5f4.jpg?v=1628802706" alt="JORDAN X TRAVIS SCOTT X FRAGMENT TEE">
              
            </div>
          </div>
          <div class="js-img-cell js-slide P__img-cell P__img-cell-1"
            style="background-image:url('../products/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_1500xe5f4.jpg?v=1628802706')"
            
            data-alt="JORDAN X TRAVIS SCOTT X FRAGMENT TEE"
            data-image-id="22066959220863"
            data-zoom-src="../products/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_1500xe5f4.jpg?v=1628802706">
            <div class="P__img_bg">
              <img class="P__img js-img js-img-1"
                   height="1500" width="1500"
                   src="../products/DJ0619-133_258114212_D_B_1X1_265a4e5d-76c2-4dbc-b0e2-eb3490d8be4e_1500xe5f4.jpg?v=1628802706" alt="JORDAN X TRAVIS SCOTT X FRAGMENT TEE">
              
            </div>
          </div>
    </div>


    <div class="P__Info js-product-info">
      <h2
        
        data-tags="081321 FRAGMENTS HIDE-SIGNUP-WHEN-SOLD-OUT HOVER-SHOW-SECOND-IMAGE IMAGE-ZOOM ONE-PER SHIPPING: SHIPS IN 2-3 DAYS"
        class="PI__title js-product-title" itemprop="name"
      >TRAVIS TRAVIS FRAGMENT TEE</h2>
        
          <div class="PI__desc js-add-description" itemprop="description"><p>STANDOUT GRAPHIC OF MJ ON THE FRONT, OVERLAPPING CACTUS JACK AND FRAGMENT LOGOS IN A MIXTURE OF PRINTS<br><meta charset="utf-8"><span data-mce-fragment="1">SHIPS IN 2-3 DAYS</span><br></p></div>
        
        
          
            <div class="PI__out-of-stock">SOLD OUT</div>
            
        

    </div>
  </article>

</div>
<div class="cf"></div>

      </div>
    </div>

      </main><footer class="Footer js-footer">
        <div class="F__nav"><a href="faq.html" title="HELP" data-title="help" class="F__link"> HELP</a><a href="privacy-policy.html#CCPA" title="Do Not Sell My Personal Information" data-title="do not sell my personal information" class="F__link"> Do Not Sell My Personal Information</a><a href="terms.html" title="TERMS" data-title="terms" class="F__link"> TERMS</a><a href="privacy-policy.html" title="PRIVACY" data-title="privacy" class="F__link"> BORING STUFF</a></div>
    </footer>

<section
  class="CartDrawer"
  role="dialog"
  aria-modal="true"
  aria-labelledby="CartTitle"
  aria-hidden="true"
  data-js-cart-drawer
>
  <div class="CartDrawer__main" data-js-cart-main>
    <header class="CD__header">
      <h3 class="CD__header__title" id="CartTitle">
        Cart
        <span class="CD__header__count" data-js-cart-count>
          (<span class="CD__header__count-number" data-js-cart-count-number></span>
                                   <span class="datacount1">0</span>
          <span class="CD__header__count-label" data-js-cart-count-label></span>)
        </span>
      </h3>
      <button type="button" class="CD__close" data-js-cart-action-close>
        Close
        <span class="CD__close__icon" aria-hidden="true">
          ×
        </span>
      </button>
    </header>
    <div class="CD__content" data-js-cart-content>
        <form class="CD__form" action="/cart" method="post" autocomplete="off">
            <div class="CD__items">
                <table class="CD__table">
                </table>
            </div>
        </form>
    </div>
    <script id="cartDrawerItemsTemplate" type="text/x-tmpl-mustache">
      
        <form class="CD__form" action="/cart" method="post" autocomplete="off">
          <div class="CD__items">
            <table class="CD__table">
              {{#items}}
                <tr class="CD__product-row" data-js-cart-product>
                  <td class="CD__remove-cell">
                    <button
                      type="button"
                      href="#"
                      class="CD__remove"
                      title="Remove: {{title}}"
                      aria-label="Remove: {{title}}"
                      data-product-id="{{id}}"
                      data-key="{{key}}"
                      data-product-quantity="{{quantity}}"
                      data-js-cart-remove-product
                    >
                      &times;
                    </a>
                  </td>
                  <td class="CD__image-cell">
                    <a href="{{{url}}}" tabindex="-1">
                      <img
                        src="{{{image}}}"
                        class="CD__image-img"
                        alt="{{title}}"
                        loading="lazy"
                      />
                    </a>
                  </td>
                  <td class="CD__title-cell">
                    <a class="CD__title" href="{{{url}}}">
                      {{title}}
                    </a>
                  </td>
                  <td class="CD__qty-cell">
                    <label for="updates_{{id}}" class="sr-only">
                      Quantity
                    </label>
                    <input
                      type="number"
                      class="js-qty-input CD__qty-input"
                      name="updates[]"
                      data-key="{{key}}"
                      id="updates_{{id}}"
                      inputmode="numeric"
                      pattern="[0-9]*"
                      max="10"
                      min="0"
                      value="{{quantity}}"
                    />
                  </td>
                  <td class="CD__total-cell CD__total-content">
                    ${{line_price}}
                  </td>
                </tr>
              {{/items}}
            </table>
          </div>
          <div class="CD__Actions">
            <div class="CA__buttons">
              <button type="submit" name="update" class="K__button CA__button-update sr-only">
              Update
                <span class="hide-on-mobile"> the Cart</span>
              </button>
              <div class="CA__subtotal">
                <span>Subtotal</span>
                ${{items_subtotal_price}}
              </div>
            </div>
            <button type="submit" name="checkout" class="ButtonCallout CA__button-checkout">
              Checkout
            </button>
              <div class="dynamic-checkout__content" id="dynamic-checkout-cart" data-shopify="dynamic-checkout-cart"></div>
            </div>
          </div>
        </form>
      
    </script>
    <script id="cartDrawerEmptyTemplate" type="text/x-tmpl-mustache">
      
        <div class="CD__empty">
          <p>Your cart is empty</p>
        </div>
      
    </script>
  </div>
</section>

    </div>
    <script>
      window.fwSettings={
      'widget_id':30000000098
      };
      !function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}()
    </script>
    <script type='text/javascript' src='../widget.freshworks.com/widgetBase/bootstrap.js' async defer></script><div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <button class="pswp__button pswp__button--close" title="Close (Esc)">&times;</button>


                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
              &#8249;
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
              &#8250;
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

      <script src="../Assets/app-2021-07-270241.js?v=2252409066698244196" type="text/javascript"></script>
  </body>
  <script src="script2.js"></script>
</html>
